header {
  background-color: #040f0f;
  color: #fcfffc;  
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;  
}

header h1 {
  font-style: italic;
  margin-left: 10px;
}

nav ul {
  display: flex;    
}

nav ul li {
  list-style: none;
  margin: 0 5px;
}

nav ul li {
  display: inline-block;
  padding: 13px 0;  
  color: #fcfffc;
  background-color: #040f0f;
  box-shadow: 2px 2px 2px rgba(4, 15, 15, 0.5);
  border-radius: 8px;
  cursor: pointer;
}

nav ul li:hover , nav ul li a:hover {
  transition: all 0.5s ease;
  color: #2ba84a;
  transform: translateY(10px);
}

nav ul li a {
  text-decoration: none;
  color: #fcfffc;
  padding: 13px;
}

@media screen and (max-width: 771px) {
  header {    
    flex-direction: column;
    justify-content: center;        
  }
  header h1, header ul{
    margin-top: 10px;
  }
  header ul {
    max-width: 610px;
    justify-content: space-around;
  }
}

@media screen and (max-width: 547px) {
  header ul {
    text-align: center;
    font-size: 13px;
  }
}

@media screen and (max-width: 363px) {
  header h1 {
    font-size: 24px;
  }
}

@media screen and (max-width: 351px){
  header ul {
    flex-direction: column;
  }
}